/* body
{
    background-image: url("../projpics/pexels-pixabay-326279.jpg");
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    color:gainsboro;
} */
.Lunch
{
    margin-top: 40px;
    color:ghostwhite;
    float:left;
    font-size: 25px;
    margin-left: 60px;
}
.lunbx
{
    margin-top: 40px;
    margin-left: 40px;
    float:left;
}
.lngt
{
    color: #ff4365;
    margin-top: 200px;
    margin-right: 200px;
    /* margin-left: */
}
.radlun
{
    margin-left: 9px;
}
.butlunch
{
    width: 130px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: lavender;
    margin-right:300px ;
    margin-bottom: 100px;
    
    
}
.butlunch:hover
{
    color: black;
    background-color: darkgoldenrod;
}
.lunchhead1
{
    float: right;
    margin-top: 280px;
    margin-right: 250px;
}

#img1{
    position: fixed;
    width: 100vh;
    
}

#l1{
    background-image: url("https://res.cloudinary.com/dkmm9khbp/image/upload/v1669099163/balancy_final/pexels-pixabay-326279_sgfssx.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
}